<div class="page-container">
<%=stylesheet_link_tag 'pages/irrigation/index' %>
	<div class="banner">
		<img src="/img/irrigation/banner.jpg" alt="">
	</div>
	
	<div class="com-irrigation ">
		<p class="title-pic">
			<img src="/img/irrigation/title.jpg" alt="">
		</p>
		<div class="section clearfix">
			<p class="title">滴灌产品</p>
			<div class="item">
				<img src="/img/irrigation/pro-1.jpg" alt="">
				<h6>AZUD LINE</h6>
				<p class="intro">内镶式薄壁滴灌带</p>
				<p class="param">额定流量：0.8L - 3.8L<br> 壁厚：0.20mm - 0.60mm<br> 适用范围：现代温室，行播作物 </p>
				<a class=load target="_blank" href="/irrigation/download_line"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
			<div class="item">
				<img src="/img/irrigation/pro-2.jpg" alt="">
				<h6>AZUD SPRINT</h6>
				<p class="intro">内镶式薄壁滴灌带</p>
				<p class="param">额定流量: 1L – 1.6L<br> 壁厚：0.15mm – 0.25mm <br>适用范围：现代温室，行播作物   </p>
				<a class=load target="_blank" href="/irrigation/download_sprint"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
			<div class="item">
				<img src="/img/irrigation/pro-3.jpg" alt="">
				<h6>AZUD PREMIER  PC AS(防虹吸式)</h6>
				<p class="intro">压力补偿式滴灌管</p>
				<p class="param">额定流量：1.0L – 3.5L <br>壁厚：0.9mm – 1.1mm <br>适用范围：地埋行种作物 </p>
				<a class=load target="_blank" href="/irrigation/download_as"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
			<div class="item">
				<img src="/img/irrigation/pro-4.jpg" alt="">
				<h6>AZUD DRIP （紊流流道）</h6>
				<p class="intro">压力补偿式滴灌管</p>
				<p class="param">额定流量：1.6L – 3.4L <br>壁厚：0.9mm – 1.2mm <br>适用范围：高密度作物，温室，果林 </p>
				<a class=load target="_blank" href="/irrigation/download_drip"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
			<div class="item">
				<img src="/img/irrigation/pro-5.jpg" alt="">
				<h6>AZUD PC SYSTEM（集成式）</h6>
				<p class="intro">压力补偿式滴灌管</p>
				<p class="param">额定流量：1.4L – 4L<br> 壁厚：0.9mm – 1.2mm <br>适用范围：铺设滴灌管较长的大田作物 </p>
				<a class=load target="_blank" href="/irrigation/download_system"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
			<div class="item">
				<img src="/img/irrigation/pro-6.jpg" alt="">
				<h6>AZUD GREENTEC </h6>
				<p class="intro">专业的园林景观滴灌产品 </p>
				<p class="param"><p>
				<a class=load target="_blank" href="/irrigation/download_greentec"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
		</div>
		<div class="section clearfix">
			<p class="title">滴灌配件</p>
			<div class="item">
				<img src="/img/irrigation/pei-1.jpg" alt="">
				<h6>NAVIA</h6>
				<p class="intro">管上式压力补偿管滴头</p>
				<a class=load target="_blank" href="/irrigation/download_navia"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
			<div class="item">
				<img src="/img/irrigation/pei-2.jpg" alt="">
				<h6>MBTECH</h6>
				<p class="intro">管上式压力补偿管滴头</p>
				<a class=load target="_blank" href="/irrigation/download_mbtech"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>

			<div class="item">
				<img src="/img/irrigation/pei-3.jpg" alt="">
				<h6>箭式滴头</h6>
				<p class="intro">管上式压力补偿管滴头</p>
				<!-- <a class=load target="_blank" href="/irrigation/download_line"><span class="iconfont icon-pdf"></span>产品手册下载</a> -->
			</div>
			<div class="item">
				<img src="/img/irrigation/pei-4.jpg" alt="">
				<h6>微灌接头</h6>
				<!-- <p class="intro">内镶式薄壁滴灌带</p>
 -->				<a class=load target="_blank" href="/irrigation/download_fit"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
			<div class="item">
				<img src="/img/irrigation/pei-5.jpg" alt="">
				<h6>安全接头</h6>
			<!-- 	<p class="intro">内镶式薄壁滴灌带</p> -->
				<a class=load target="_blank" href="/irrigation/download_plus"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
			<div class="item">
				<img src="/img/irrigation/pei-6.jpg" alt="">
				<h6>特殊接头</h6>
			<!-- 	<p class="intro">内镶式薄壁滴灌带</p> -->
				<a class=load target="_blank" href="/irrigation/download_ag"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
		</div>
		<div class="section clearfix">
			<div class="wei">
				<p class="w-title">微喷灌</p>
				<div class="left-part">
					<img src="/img/irrigation/wei-1.jpg" alt="">
				</div>
				<div class="right-part">
					<p class="wei-title">AZUD RAINTEC <br> micro-sprinkler</p>
					<p class="intro">适用于果树园林等季节性作物</p>
					<a class=load target="_blank" href="/irrigation/download_raintec"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>
			</div>
			<div class="wei">
				<p class="w-title">施肥机</p>
				<div class="left-part">
					<img src="/img/irrigation/wei-2.jpg" alt="">
				</div>
				<div class="right-part">
					<p class="wei-title">AZUD QGROW</p>
					<p class="intro">全自动智能施肥系统，可根据作物需求， 模块化配置注肥通道，控制水分、肥料的供给，产出均匀的水肥溶液。 </p>
<!-- 					<a class=load target="_blank" href="/irrigation/download_line"><span class="iconfont icon-pdf"></span>产品手册下载</a> -->
				</div>
			</div>
		</div>
	</div>
<%=javascript_include_tag 'pages/irrigation/index' %>
</div>