<div class="com-luxon-product">
	<img src="/img/filteration/luxon/pro-title.jpg">
	<div class="pros clearfix">
		<p class="pros-title">水力驱动型</p>
		<figure class="pro clearfix mb0">
			<div class="pic">
				<img src="/img/filteration/luxon/pro-2.jpg">
		    </div>
			<figcaption>
				<h6>AZUD LUXON  LCA  </h6>
				<p class="excert">高效水力驱动自清洗网式过滤器。</p>
				<p class="param">
					过滤精度：80μm – 1000μm<br>
					进出口管径：2〃 – 10〃<br>
					最大过滤面积：7200 cm²<br>
					最大流量：500m³/h // 2200gpm<br>
					最高工作压力：10bar
				</p>
				<a class="load" target="_blank" href="/filtration/download_luxon_lca"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</figcaption>
		</figure>
		<figure class="pro clearfix mb0">
			<div class="pic">
				<img src="/img/filteration/luxon/pro-1.jpg">	
		    </div>
			<figcaption>
				<h6>AZUD LUXON MFH</h6>
				<p class="excert">高效水力驱动自清洗网式过滤器。</p>
				<p class="param">
					过滤精度：80μm – 1000μm<br>
					进出口管径：3〃 – 16〃<br>
					最大过滤面积：12000 cm²<br>
					最大流量：1200m³/h // 5300gpm<br>
					最高工作压力：10bar

				</p>
				<a class="load" target="_blank" href="/filtration/download_luxon_mfh"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</figcaption>
		</figure>
	</div>
	<div class="pros clearfix">
		<p class="pros-title">电力驱动型</p>
		<figure class="pro clearfix">
			<div class="pic">
				<img src="/img/filteration/luxon/pro-4.jpg">
		    </div>
			<figcaption>
				<h6>AZUD LUXON LDB</h6>
				<p class="excert">电动吸式自清洗网式过滤器，超高精度及超大过滤面积。</p>
				<p class="param">
					过滤精度：10μm – 1000μm<br>
					进出口管径：2〃 – 20〃<br>
					最大过滤面积：21300 cm²<br>
					最大流量：2300m³/h // 10100gpm<br>
					最高工作压力：25bar

				</p>
				<a class="load" target="_blank" href="/filtration/download_luxon_ldb"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</figcaption>
		</figure>
		<figure class="pro clearfix">
			<div class="pic">
				<img src="/img/filteration/luxon/pro-3.jpg">
		    </div>
			<figcaption>
				<h6>AZUD LUXON LXE</h6>
				<p class="excert">电动吸式自清洗网式过滤器，超高精度及超大过滤面积。</p>
				<p class="param">
					过滤精度：10μm – 1000μm<br>
					进出口管径：3〃 – 20〃<br>
					最大过滤面积：21300 cm²<br>
					最大流量：2300m³/h // 10100gpm<br>
					最高工作压力：25bar

				</p>
				<a class="load" target="_blank" href="/filtration/download_luxon_lxe"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</figcaption>
		</figure>
		<figure class="pro clearfix">
			<div class="pic">
				<img src="/img/filteration/luxon/pro-5.jpg">
		    </div>
			<figcaption>
				<h6>AZUD LUXON LEM</h6>
				<p class="excert">大流量高精度，电动吸式多重滤芯自清洗网式过滤器，适用于需最小占地面积的工业、市政领域。</p>
				<p class="param">
					过滤精度：10μm – 1000μm<br>
					进出口管径：8〃 – 40〃<br>
					最大过滤面积：85200 cm²<br>
					最大流量：7300m³/h // 32100gpm<br>
					最高工作压力：25bar

				</p>
				<a class="load" target="_blank" href="/filtration/download_luxon_lem"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</figcaption>
		</figure>
		<figure class="pro clearfix">
			<div class="pic">
				<img src="/img/filteration/luxon/pro-7.jpg">
		    </div>
			<figcaption>
				<h6>AZUD LUXON LKM</h6>
				<p class="excert">电动刷式自清洗网式过滤器，适用于高悬浮物浓度，大流量过滤场合。</p>
				<p class="param">
					过滤精度：200μm – 3500μm<br>
					进出口管径：6〃 – 20〃<br>
					最大过滤面积：21300 cm²<br>
					最大流量：2300m³/h // 10100gpm<br>
					最高工作压力：25bar

				</p>
				<a class="load" target="_blank" href="/filtration/download_luxon_lkm"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</figcaption>
		</figure>
		<figure class="pro clearfix">
			<div class="pic">
				<img src="/img/filteration/luxon/pro-6.jpg">
		    </div>
			<figcaption>
				<h6>AZUD LUXON LPF</h6>
				<p class="excert">电动自清洗网式过滤器，无进水压力要求，超高流量管道过滤，泵前过滤的最佳选择。</p>
				<p class="param">
					过滤精度：1000μm 1500μm 2000μm<br>
					进出口管径：16〃 – 80〃<br>
					最大过滤面积：21300 cm²<br>
					最大流量：23000m³/h // 101000gpm<br>
					最高工作压力：10bar

				</p>
				<a class="load" target="_blank" href="/filtration/download_luxon_lpf"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</figcaption>
		</figure>
	</div>
</div>