<div class="com-luxon-product">
	<img src="/img/fiteration/luxon/pro-title.jpg">
	<div class="pros clearfix">
		<p class="pros-title">水力驱动型</p>
		<figure class="pro clearfix mb0">
			<div class="pic">
				<img src="/img/fiteration/luxon/pro-1.jpg">
		    </div>
			<figcaption>
				<h6>LXE</h6>
				<p class="excert">具有超强过滤能力的自清洗过滤器 可以满足较高的水量与精细过滤的 工况要求</p>
				<p class="param">
					过滤精度：5-500 微米<br>最大流量：500L/h / 2200gpm<br>过滤面积：5-500 mm<br> 接口尺寸：200-300m<br>工作压力：10bar/145psi
				</p>
				<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</figcaption>
		</figure>
		<figure class="pro clearfix mb0">
			<div class="pic">
				<img src="/img/fiteration/luxon/pro-2.jpg">
		    </div>
			<figcaption>
				<h6>LXE</h6>
				<p class="excert">具有超强过滤能力的自清洗过滤器 可以满足较高的水量与精细过滤的 工况要求</p>
				<p class="param">
					过滤精度：5-500 微米<br>最大流量：500L/h / 2200gpm<br>过滤面积：5-500 mm<br> 接口尺寸：200-300m<br>工作压力：10bar/145psi
				</p>
				<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</figcaption>
		</figure>
	</div>
	<div class="pros clearfix">
		<p class="pros-title">电力驱动型</p>
		<figure class="pro clearfix">
			<div class="pic">
				<img src="/img/fiteration/luxon/pro-3.jpg">
		    </div>
			<figcaption>
				<h6>LXE</h6>
				<p class="excert">具有超强过滤能力的自清洗过滤器 可以满足较高的水量与精细过滤的 工况要求</p>
				<p class="param">
					过滤精度：5-500 微米<br>最大流量：500L/h / 2200gpm<br>过滤面积：5-500 mm<br> 接口尺寸：200-300m<br>工作压力：10bar/145psi
				</p>
				<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</figcaption>
		</figure>
		<figure class="pro clearfix">
			<div class="pic">
				<img src="/img/fiteration/luxon/pro-4.jpg">
		    </div>
			<figcaption>
				<h6>LXE</h6>
				<p class="excert">具有超强过滤能力的自清洗过滤器 可以满足较高的水量与精细过滤的 工况要求</p>
				<p class="param">
					过滤精度：5-500 微米<br>最大流量：500L/h / 2200gpm<br>过滤面积：5-500 mm<br> 接口尺寸：200-300m<br>工作压力：10bar/145psi
				</p>
				<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</figcaption>
		</figure>
		<figure class="pro clearfix">
			<div class="pic">
				<img src="/img/fiteration/luxon/pro-5.jpg">
		    </div>
			<figcaption>
				<h6>LXE</h6>
				<p class="excert">具有超强过滤能力的自清洗过滤器 可以满足较高的水量与精细过滤的 工况要求</p>
				<p class="param">
					过滤精度：5-500 微米<br>最大流量：500L/h / 2200gpm<br>过滤面积：5-500 mm<br> 接口尺寸：200-300m<br>工作压力：10bar/145psi
				</p>
				<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</figcaption>
		</figure>
		<figure class="pro clearfix">
			<div class="pic">
				<img src="/img/fiteration/luxon/pro-6.jpg">
		    </div>
			<figcaption>
				<h6>LXE</h6>
				<p class="excert">具有超强过滤能力的自清洗过滤器 可以满足较高的水量与精细过滤的 工况要求</p>
				<p class="param">
					过滤精度：5-500 微米<br>最大流量：500L/h / 2200gpm<br>过滤面积：5-500 mm<br> 接口尺寸：200-300m<br>工作压力：10bar/145psi
				</p>
				<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</figcaption>
		</figure>
		<figure class="pro clearfix">
			<div class="pic">
				<img src="/img/fiteration/luxon/pro-7.jpg">
		    </div>
			<figcaption>
				<h6>LXE</h6>
				<p class="excert">具有超强过滤能力的自清洗过滤器 可以满足较高的水量与精细过滤的 工况要求</p>
				<p class="param">
					过滤精度：5-500 微米<br>最大流量：500L/h / 2200gpm<br>过滤面积：5-500 mm<br> 接口尺寸：200-300m<br>工作压力：10bar/145psi
				</p>
				<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</figcaption>
		</figure>
	</div>
</div>