<div class="com-contactus-join">
	<div class="title">
		<h2>招聘信息</h2>
	</div>
	<p class="mail">简历投递：info@azud.com</p>
	<% employs.each do |employ|%>
		<div class="position">
			<h2>[<%= employ.position.html_safe %>]</h2>
			<h6>职位描述：</h6>
			<div class="describe"><%= employ.description.html_safe %></div>
			<h6>职位要求</h6>
			<div><%= employ.qualification.html_safe %></div>
		</div>
	<% end %>

 	<div class="position">
		暂无
	</div>
</div>