<div class="com-contactus-join">
	<div class="title">
		<h2>招聘信息</h2>
	</div>
	<p class="mail">简历投递：info@azud.com</p>
	<% employs.each do |employ|%>
		<div class="position">
			<h2>[<%= employ.position %>]</h2>
			<h6>职位描述：</h6>
			<p><%= employ.description %></p>
			<h6>职位要求</h6>
			<p><%= employ.qualification %></p>
		</div>
	<% end %>
</div>