<div class="com-contactus-join">
	<div class="title">
		<h2>加入我们</h2>
	</div>
	<p class="mail">简历投递：info@azud.com</p>
	<div class="position">
		<h2>[客户总监]</h6>
		<h6>职位描述：</h6>
		<p>
			 1.综合分析客户的产品、竞争对手等各方面的状况信息，不断挖掘客户需求；<br>
			 2.保持、建立客户关系，负责客户潜在及延展
		</p>
		<h6>职位要求</h6>
		<p>
			 1.综合分析客户的产品、竞争对手等各方面的状况信息，不断挖掘客户需求；<br>
			 2.保持、建立客户关系，负责客户潜在及延展
		</p>

	</div>
	<div class="position">
		<h2>[客户总监]</h6>
		<h6>职位描述：</h6>
		<p>
			 1.综合分析客户的产品、竞争对手等各方面的状况信息，不断挖掘客户需求；<br>
			 2.保持、建立客户关系，负责客户潜在及延展
		</p>
		<h6>职位要求</h6>
		<p>
			 1.综合分析客户的产品、竞争对手等各方面的状况信息，不断挖掘客户需求；<br>
			 2.保持、建立客户关系，负责客户潜在及延展
		</p>

	</div>

</div>