<div class="com-partner">
	<div class="page-content">
		<div class="partner-hd">
			<span class="iconfont icon-water icon"></span><h2>合作伙伴</h2>
		</div>
		<div class="partner-bd swiper-container">
			<div class="swiper-wrapper">
			<% 13.times do |item|%>
				<div class="swiper-slide">
					<img src="/img/home/blo.jpg">
				</div>
			<% end %>
			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>

		</div>
	</div>
</div>