<div class="page-container">
	<%= stylesheet_link_tag "pages/filteration/helix" , :media => "all" %>
	<a href="/filteration/helix/detail">
	<div class="banner imgcover">
		<img src="/img/filteration/helix/banner.jpg">
		<span href="javascript:void(0);">过滤原理 >></span>
	</div>
	</a>
	<%= render partial: "/components/helix-module/index" %>
	<div class="product">
		<h2><img src="/img/filteration/helix/pro-title.jpg"></h2>
	
		<div class="pros clearfix">
			<div class="pro clearfix">
				<div class="pic">
					<img src="/img/filteration/helix/pro-1.jpg">
				</div>
				<div class="introduce">
					<h6>AZUD HELIX AUTOMATIC 200/300</h6>
					<p class="excerpt">AZUD HELIX 自清洗过滤系统  200/300系列
在线过滤，200系列配有2〃阀门，300系列配有3〃阀门。</p>
					<P class="tech">
						过滤精度：5μm-400μm<br>
						最大流量：256m³/h  //  1126gpm<br>
						管道尺寸：3〃—  8〃<br>
						工作压力：1.2 bar —  6 bar<br>
					</P>
					<a class="load" target="_blank" href="/filteration/download_helix_200"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>
			</div>
			<div class="pro">
				<div class="pic">
					<img src="/img/filteration/helix/pro-2.jpg">
				</div>
				<div class="introduce">
					<h6>AZUD HELIX AUTOMATIC 201</h6>
					<p class="excerpt">AZUD HELIX 自清洗过滤系统  201型
在线过滤，滤头配有2〃阀门。</p>
					<P class="tech">
						过滤精度：5μm-400μm<br>
						最大流量：24m³/h  //  106gpm<br>
						工作压力：1.2 bar —  6 bar<br>
						
					</P>
					<a class="load" target="_blank" href="/filteration/download_helix_201"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>
			</div>
			<div class="pro">
				<div class="pic">
					<img src="/img/filteration/helix/pro-3.jpg">
				</div>
				<div class="introduce">
					<h6>AZUD HELIX AUTOMATIC 4DCL/4DCH</h6>
					<p class="excerpt">AZUD HELIX 自清洗过滤系统  4DCL/4DCL系列
在线过滤，每组过滤单元由两个滤头组成，4DCL系列配有3〃阀门，4DCH系列配有4〃阀门。
</p>
					<P class="tech">
						过滤精度：5μm-400μm<br>
						最大流量：768m³/h  //  3379gpm<br>
						管道尺寸：6〃—  12〃<br>
						工作压力：1.2 bar —  6 bar<br>
					</P>
					<a class="load" target="_blank" href="/filteration/download_helix_dcl"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>
			</div>
			<div class="pro">
				<div class="pic pic-4">
					<img src="/img/filteration/helix/pro-4.jpg">
				</div>
				<div class="introduce">
					<h6>AZUD HELIX AUTOMATIC 400</h6>
					<p class="excerpt">AZUD HELIX 自清洗过滤系统  400系列
在线过滤，每组过滤单元由三个滤头组成，配有4〃阀门。
</p>
					<P class="tech">
						过滤精度：100μm-400μm<br>
						最大流量：1080m³/h  //  4752gpm<br>
						管道尺寸：10〃—  12〃<br>
						工作压力：1.2 bar —  6 bar<br>
					</P>
					<a class="load" target="_blank" href="/filteration/download_helix_400"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>
			</div>
		</div>
	</div>
	<%= render partial: "components/helix-apply/index" %>
	<%= javascript_include_tag "pages/filteration/helix"  %>
</div>