<div class="page-container">
	<%= stylesheet_link_tag 'pages/filteration/index' %>
	<a href="/filteration/helix">
	<div class="filteration-item clearfix">
		<div class="item-text item">
			<div class="wrapper">
				<h6>AZUD HELIX AUTOMATIC<br>自清洗叠片过滤系统</h6>
				<p>·模块化解决方案<br>·智能控制，操作便捷 <br>·节水节能，反洗水耗&lt;1% <br>·材质牢固，安全耐用</p>
				<p class="more">
					<span>
						了解更多
					</span>
				</p>
			</div>	
		</div>
		<div class="item-img item">
			<img src="/img/filteration/helix.jpg" alt="">
		</div>
	</div>
	</a>
	<a href="/filteration/luxon">
	<div class="filteration-item clearfix">
		<div class="item-img item">
			<img src="/img/filteration/luxon.jpg" alt="">
		</div>
		<div class="item-text item">
			<div class="wrapper">
				<h6>AZUD LUXON<br>自清洗网式过滤器</h6>
			<p>·超大过滤面积，超广精度覆盖<br>·智能控制，运行稳定 <br>·节水节能，反洗水耗&lt;1% <br>·工艺精湛，维护便捷</p>
			<p class="more">
					<span>
						了解更多
					</span>
				</p>
			</div>
			
		</div>	
	</div>
	</a>
	<a href="/filteration/semiauto">
	<div class="filteration-item clearfix">
		<div class="item-text item">
			<div class="wrapper">
				<h6>AZUD 半自动/手动过滤器</h6>
				<p>·可根据需求更换滤芯<br>·安全可靠，操作便捷 <br>·耐化学腐蚀</p>
				<p class="more">
					<span>
						了解更多
					</span>
				</p>
			</div>
			
		</div>
		<div class="item-img item">
			<img src="/img/filteration/auto.jpg" alt="">
		</div>
	</div>
	</a>
</div>