<div class="page-container">
<%= stylesheet_link_tag "pages/filteration/semiauto" %>
	<div class="banner">
	<img src="/img/filteration/semiauto/banner.jpg" alt="">
	</div>
	<p class="excerpt">AZUD 半自动/手动过滤器广泛应用于农业灌溉、工业及民用等流量较低的场所，可靠的材质非常适用于腐蚀性水体的过滤。<br>
在AZUD半自动/手动过滤器的保护下，末端系统可得到更稳定、更长久的运行。
</p>
	<div class="products">
		<img src="/img/filteration/semiauto/pro-title.jpg" alt="">
		<p class="pros-title pros-title1">半自动过滤器</p>
		<div class="pros clearfix">
			<div class="pro mb0">
				<img class="pic" src="/img/filteration/semiauto/pro-1.jpg" alt="">
				<div class="intro1">
					<h6>LCM</h6>
					<p class="profile">带清洗指示的半自动叠片过滤系统。</p>
					<p>最大流量：180 m³/h <br>过滤精度：5-200微米</p>
					<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>	
			</div>
			<div class="pro mb0">
				<img class="pic" src="/img/filteration/semiauto/pro-6.jpg" alt="">
				<div class="intro2">
					<h6>SPIRAL CLEAN</h6>
					<p class="profile">带压差指示的手摇清洗过滤器。</p>
					<p class="intro">最大流量：50 m³/h <br>过滤精度：</p>
					<div class="params clearfix ">
						<div class="pic"></div>
						<div class="params-rt">
							<p class="subtitle">滤网</p>
							<p class="param">
								<span class="icon green"></span><span>200微米</span>
								<span class="icon red"></span><span>130微米</span>
								<span class="icon yellow"></span><span>100微米</span>	
							</p>
						</div>
					</div>
					<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>	
			</div>
			<!-- <div class="pro mb0">
				<img class="pic" src="/img/filteration/semiauto/pro-2.jpg" alt="">
				<div class="intro1">
					<h6>LM</h6>
					<p>最大流量：180 m³/h <br>过滤精度：5-200微米</p>
					<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>	
			</div> -->
		</div>
		<p class="pros-title">手动过滤器</p>
		<div class="pros clearfix">
			<div class="pro">
				<img class="pic" src="/img/filteration/semiauto/pro-5.jpg" alt="">
				<div class="intro2">
					<h6>AZUD HELIX SYSTEM</h6>
					<p>最大流量：100 m³/h <br>过滤精度:</p>
					<div class="params params-helix clearfix ">
						<div class="pic"></div>
						<div class="params-rt">
							<p class="subtitle">HELIX 叠片组</p>
							<p class="param param2">
								<span class="icon aa"></span><span class="text">400微米</span>
								<span class="icon bb"></span><span class="text">200微米</span>
								<span class="icon cc"></span><span class="text">130微米</span>
								<span class="icon dd"></span><span class="text">100微米</span>
								<span class="icon ee"></span><span class="text">50微米</span>
								<span class="icon ff ml6"></span><span class="text">20微米</span>
								<span class="icon gg ml8"></span><span class="text">10微米</span>
								<span class="icon hh ml8"></span><span class="text">5微米</span>
							</p>
						</div>
					</div>
					<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>	
			</div>
			<div class="pro">
				<img class="pic" src="/img/filteration/semiauto/pro-4.jpg" alt="">
				<div class="intro2">
					<h6>MODULAR 100</h6>
					<p>最大流量：25 m³/h <br>过滤精度：</p>
					<div class="params clearfix ">
						<div class="pic"></div>
						<div class="params-rt">
							<p class="subtitle">滤网</p>
							<p class="param param2">
								<span class="icon purple"></span><span class="text">530微米</span>
								<span class="icon green"></span><span class="text">200微米</span>
								<span class="icon red"></span><span class="text">130微米</span>
								<span class="icon yellow"></span><span class="text">100微米</span>	
							</p>
						</div>
					</div>
					<div class="params clearfix ">
						<div class="pic-2"></div>
						<div class="params-rt">
							<p class="subtitle">叠片</p>
							<p class="param">
								<span class="icon red"></span><span>130微米</span>
							</p>
						</div>
					</div>
					<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>	
			</div>
			<div class="pro">
				<img class="pic" src="/img/filteration/semiauto/pro-5.jpg" alt="">
				<div class="intro2">
					<h6>MODULAR 300</h6>
					<p>最大流量：100 m³/h <br>过滤精度:</p>
					<div class="params clearfix ">
						<div class="pic"></div>
						<div class="params-rt">
							<p class="subtitle">滤网</p>
							<p class="param">
								<span class="icon green"></span><span>200微米</span>
								<span class="icon red"></span><span>130微米</span>
								<span class="icon yellow"></span><span>100微米</span>	
							</p>
						</div>
					</div>
					<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>	
			</div>
			<div class="pro">
				<img class="pic" src="/img/filteration/semiauto/pro-3.jpg" alt="">
				<div class="intro2">
					<h6>AGL</h6>
					<p>最大流量：50 m³/h <br>过滤精度：</p>
					<div class="params clearfix">
						<div class="pic"></div>
						<div class="params-rt">
							<p class="subtitle">滤网</p>
							<p class="param">
								<span class="icon green"></span><span>200微米</span>
								<span class="icon red"></span><span>130微米</span>
								<span class="icon yellow"></span><span>100微米</span>	
							</p>
						</div>
					</div>
					<div class="params clearfix ">
						<div class="pic-2"></div>
						<div class="params-rt">
							<p class="subtitle">叠片</p>
							<p class="param">
								<span class="icon green"></span><span>200微米</span>
								<span class="icon red"></span><span>130微米</span>
								<span class="icon yellow"></span><span>100微米</span>	
							</p>
						</div>
					</div>
					<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>	
			</div>
		</div>
	</div>
<%= javascript_include_tag "pages/filteration/semiauto" %>
</div>