<div class="com-contactus-demand">
	<div class="title">
		<h2>需求填写</h2>
	</div>
	<form action="mailto:1599485508@qq.com" class="content">
		<div class="ways clearfix">
			<input class="way" placeholder="姓名" required type="text">
			<input class="way" placeholder="邮箱" required type="email">
			<input class="way" placeholder="电话" required type="number">
		</div>
		<textarea class="mess" required type="text" placeholder="在这里写下您的需求，很快会与您联系！"></textarea>
		<input class="submit" type="submit" value="提交">
	</form>
</div>