<div class="com-contactus-demand">
	<div class="title">
		<h2>商务合作</h2>
	</div>
	<form class="content">
		<div class="ways clearfix">
			<input auto-complete="off" class="way" placeholder="姓名" type="text">
			<input auto-complete="off" class="way" placeholder="邮箱" type="email">
			<input auto-complete="off" class="way" placeholder="电话" type="number">
		</div>
		<textarea class="mess" type="text" placeholder="在这里写下您的需求，我们会尽快与您联系！"></textarea>
		<input class="submit ripple" type="submit" value="提交">
	</form>
</div>