<div class="page-container">
	<%= stylesheet_link_tag "pages/watertech/show" %>
	<div class="banner"><img src="/img/watertech/banner.jpg" alt=""></div>
	<%= render partial:"/components/watertech-module/index" %>
	<%= render partial:"/components/watertech-detail/index" %>
	<%= javascript_include_tag "pages/watertech/show" %>
</div>