<div class="page-container">
	<%= stylesheet_link_tag "pages/watertech/show" %>
	<div class="banner"><img src="/img/watertech/banner.jpg" alt=""></div>
	<%#= render partial:"/components/watertech-module/index" %>
	<%#= render partial:"/components/watertech-detail/index" %>
	<div class="com-watertech clearfix">
		<div class="product elheight">
			<div class="product-hd">
				<img src="/img/watertech/pro-1.jpg" alt="">
			</div>
			<div class="product-bd">
				<h6>AZUD WATERTECH DW <br>饮用水处理系统</h6>
				<table>
					<tr>
						<td>DW DU</td>
						<td>进水： 淡水  </td>
						<td>TDS &lt; 1000 mg/l</td>
					</tr>
					<tr>
						<td>DW ZPOX</td>
						<td colspan="2">进水：微咸水 淡盐水  TDS : 1000 - 3000 mg/l</td>
						
					</tr>
					<tr>
						<td>DW ZPOW</td>
						<td>进水：咸水</td>
						<td>TDS：3000 - 6000 mg/l</td>
					</tr>
					<tr>
						<td>DW DUSW</td>
						<td>进水：海水</td>
						<td>TDS：35000 - 45000 mg/l</td>
					</tr>
				</table>
			</div>
			<div class="product-ft">
				<a class=load href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
		</div>
		<div class="product elheight">
			<div class="product-hd">
				<img src="/img/watertech/pro-2.jpg" alt="">
			</div>
			<div class="product-bd">
				<h6>AZUD WATERTECH DWE <br>应急饮用水处理系统</h6>
				<table>
					<tr>
						<td>DWE FW  </td>
						<td>进水：淡水  </td>
						<td>TDS &lt; 1000 mg/l</td>
					</tr>
					<tr>
						<td>DWE BW</td>
						<td>进水：苦咸水</td>
						<td>TDS &lt; 6000  mg/l</td>
					</tr>
					<tr>
						<td>DWE SW</td>
						<td>进水：海水</td>
						<td>TDS &lt; 45000 mg/l</td>
					</tr>
				</table>
			</div>
			<div class="product-ft">
				<a class=load href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
		</div>
		<div class="product elheight">
			<div class="product-hd">
				<img src="/img/watertech/pro-3.jpg" alt="">
			</div>
			<div class="product-bd">
				<h6>AZUD WATERTECH OSM <br>工农业脱盐系统</h6>
				<table>
					<tr>
						<td>OSM  ZPOX </td>
						<td>进水：淡水  </td>
						<td>TDS &lt; 1000 mg/l</td>
					</tr>
					<tr>
						<td>OSM ZPOW</td>
						<td>进水：苦咸水</td>
						<td>TDS &lt; 6000 mg/l</td>
					</tr>
					<tr>
						<td>DW DUSW</td>
						<td>进水：海水</td>
						<td>TDS &lt; 45000 mg/l</td>
					</tr>
				</table>
			</div>
			<div class="product-ft">
				<a class=load href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
		</div>
		<div class="product">
			<div class="product-hd">
				<img src="/img/watertech/pro-4.jpg" alt="">
			</div>
			<div class="product-bd">
				<h6>AZUD WATERTECH GW<br> 中水回用系统</h6>
			</div>
			<div class="product-ft">
				<a class=load href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
		</div>
		<div class="product">
			<div class="product-hd">
				<img src="/img/watertech/pro-5.jpg" alt="">
			</div>
			<div class="product-bd">
				<h6>AZUD WATERTECH RW   <br>工农业循环水处理系统</h6>
			</div>
			<div class="product-ft">
				<a class=load href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
		</div>
		<div class="product">
			<div class="product-hd">
				<img src="/img/watertech/pro-6.jpg" alt="">
			</div>
			<div class="product-bd">
				<h6>AZUD WATERTECH WW<br> 基于MBBR生物技术的废水处理系统</h6>
			</div>
			<div class="product-ft">
				<a class=load href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
			</div>
		</div>

	</div>
	<%= javascript_include_tag "pages/watertech/show" %>
</div>