<div class="com-page-header">
	<div class="page-hd">
		<div class="logo"><a href="/"><img src="/img/logo.png"></a></div>
		<div class="en">
			<a target="_blank" href="http://i.youku.com/azudsv" class="iconfont "></a>
			<a target="_blank" href="https://twitter.com/azudwater" class="iconfont "></a>
			<a target="_blank" href="https://www.facebook.com/AZUD-425837584100621/" class="iconfont "></a>
			<a target="_blank" href="https://www.youtube.com/user/FiltrationAZUD" class="iconfont "></a>
			<a target="_blank" href="http://www.azud.com" class="webset">
				<span>Spanish/English</span>
			</a>
		</div>
	</div >
	<div class="page-bd">
		<div class="navs clearfix">
			<a class="nav" href="/">首页</a>
			<a class="nav" href="/introduce">企业介绍</a>
			<a class="nav" href="/filtration">过滤系统</a>
			<a class="nav" href="/watertech">水处理系统</a>
			<a class="nav" href="/irrigation">农业灌溉</a>
			<a class="nav" href="/papers">新闻资讯</a>
			<a class="nav" href="/contactus">联系我们</a>
		</div>
		<div class="lists">
			<ul class="list filteration clearfix">
				<li><a href="/filtration/helix">HELIX自清洗叠片过滤器</a></li>
				<li><a href="/filtration/luxon">LUXON自清洗网式过滤器</a></li>
				<li><a href="/filtration/semiauto">手动半自动过滤器</a></li>
			</ul>	
		</div>
	</div>
</div>