<div class="com-page-header">
	<div class="page-hd">
		<div class="logo"><a href="javascript:void(0);"><img src="/img/logo.png"></a></div>
		<div class="en">
			<a href="javascript:void(0);">
				<img src="/img/english.png">
				<span>Spanish/English</span>
			</a>
		</div>
	</div >
	<div class="page-bd">
		<div class="nav clearfix">
			<a href="">首页</a>
			<a href="">企业介绍</a>
			<a href="">工业过滤</a>
			<a href="">集成方案</a>
			<a href="">农业灌溉</a>
			<a href="">新闻资讯</a>
			<a href="">联系我们</a>
		</div>	
	</div>
</div>