<div class="com-page-header">
	<div class="page-hd">
		<div class="logo"><a href="javascript:void(0);"><img src="/img/logo.png"></a></div>
		<div class="en">
			<a href="javascript:void(0);" class="iconfont icon-twitter"></a>
			<a href="javascript:void(0);" class="iconfont icon-facebook"></a>
			<a href="javascript:void(0);" class="iconfont icon-weibo"></a>
			<a href="javascript:void(0);">
				<img src="/img/en.jpg">
				<span>Spanish/English</span>
			</a>
		</div>
	</div >
	<div class="page-bd">
		<div class="navs clearfix">
			<a class="nav" href="/">首页</a>
			<a class="nav" href="javascript:void(0);">企业介绍</a>
			<a class="nav" href="javascript:void(0);">工业过滤</a>
			<a class="nav" href="">集成方案</a>
			<a class="nav" href="">农业灌溉</a>
			<a class="nav" href="">新闻资讯</a>
			<a class="nav" href="">联系我们</a>
		</div>
		<div class="lists">
			<ul class="list fiteration clearfix">
				<li><a href="/fiteration/helix">HELIX自清洗叠片过滤器</a></li>
				<li><a href="/fiteration/helix">LUXON自清洗网式过滤器</a></li>
				<li><a href="/fiteration/helix">手动半自动过滤器</a></li>
			</ul>	
		</div>
	</div>
</div>