<div class="com-helix-module">
	<img class="title" src="/img/fiteration/helix/module-title.jpg">
	<ul class="lists">
		<li>
			<div class="pic">
				<img src="/img/fiteration/helix/module-1.jpg">
			</div>
			<p class="name">HELIX离心盘</p>
		</li>
		<li>
			<div class="pic">
				<img src="/img/fiteration/helix/module-2.jpg">
			</div>
			<p class="name">叠片</p>
		</li>
		<li>
			<div class="pic">
				<img src="/img/fiteration/helix/module-3.jpg">
			</div>
			<p class="name">DLP低压技术</p>
		</li>
		<li>
			<div class="pic">
				<img src="/img/fiteration/helix/module-4.jpg">
			</div>
			<p class="name">AA气源辅助清洗</p>
		</li>
		<li>
			<div class="pic">
				<img src="/img/fiteration/helix/module-5.jpg">
			</div>
			<p class="name">高压型/海水型</p>
		</li>
		<li>
			<div class="pic">
				<img src="/img/fiteration/helix/module-6.jpg">
			</div>
			<p class="name">FBC控制器</p>
		</li>
	</ul>
</div>