<div class="com-helix-module">
	<img class="title" src="/img/filteration/helix/module-title.jpg">
	
	
 	<ul class="lists clearfix">
		<li>
			<div class="pic">
				<img src="/img/filteration/helix/module-1.jpg">
			</div>
			<p class="name long">HELIX涡轮导流盘</p>
		</li>
		<li>
			<div class="pic">
				<img src="/img/filteration/helix/module-2.jpg">
			</div>
			<p class="name">叠片</p>
		</li>
		<li>
			<div class="pic">
				<img src="/img/filteration/helix/module-3.jpg">
			</div>
			<p class="name">DLP低压技术</p>
		</li>
		<!-- <li>
			<div class="pic">
				<img src="/img/filteration/helix/module-4.jpg">
			</div>
			<p class="name">AA气源辅助清洗</p>
		</li>
		<li>
			<div class="pic">
				<img src="/img/filteration/helix/module-5.jpg">
			</div>
			<p class="name">高压型/海水型</p>
		</li>
		<li>
			<div class="pic">
				<img src="/img/filteration/helix/module-6.jpg">
			</div>
			<p class="name">FBC控制器</p>
		</li> -->
	</ul>
	<div class="module-detail module1">
		<div class="module1-left"><img src="/img/filteration/helix/module-11.jpg"></div>
		<div class="module1-right">
<!-- 			<img src="/img/filteration/helix/module-12.jpg"> -->
			<p class="azud-subname">AZUD Helix System</p>
			<p class="introduce"> 
				AZUD HELIX 涡轮导流盘为AZUD独家拥有的高效纳污技术。
			</p>
			<p>
AZUD HELIX 涡轮导流叶片经特殊设计，并经过无数次水力测试。该涡轮导流盘置于滤芯底部对水流进行切割，使其产生最佳的离心效果。大颗粒固体杂质被甩离滤芯，并旋流至滤芯顶部，从而增加了滤头的纳污量，过滤器的反洗次数，清洗用水量及维护量都有了显著的降低。
			</p>
		</div>
		<span class="clear"></span>
	</div>
	<div class="module-detail module2">
		<div class="module2-hd clearfix">
			<div class="pic"><img src="/img/filteration/helix/module-21.jpg"></div>
			<div class="intro">
				<!-- <img src="/img/filteration/helix/module-24.jpg" alt=""> -->
				<p class="azud-subname">AZUD Disc Filtration</p>
				<p>叠片表面拥有细小的凹槽，相邻的叠片在水力作用下压紧后即 形成高效的过滤通道。叠片为高分子聚合物材质，能够抵抗各类水体的腐蚀。</p>
				<p>针对不同的过滤精度，AZUD推出了两款不同槽面设计的叠片：MG叠片与WS叠片。
				最高过滤精度可达5微米。</p>
			</div>
		</div>
		<div class="module2-bd clearfix">
			<div class="con con-lf">
				<h6>MG叠片</h6>
				<img src="/img/filteration/helix/module-22.jpg">
				<p>
					叠片组压紧后，相邻的叠片间可形成800个深层过滤通道，杂质被截留在通道内。 
				</p>
			</div>
			<div class="con">
				<h6>WS叠片</h6>
				<img src="/img/filteration/helix/module-23.jpg">
				<p>
					叠片组压紧后，叠片正面特殊设计的纳污沟槽与相邻叠片背面的同心圆紧密贴合，可形成2640道拦截面。WS叠片结合了网式表面过滤与传统叠片深层过滤的优势，特别适合高浓度水体。
				</p>
			</div>
		</div>
		<span class="clear"></span>
	</div>
	<div class="module-detail module3">
		<div class="module3-lf"><img src="/img/filteration/helix/module-31.jpg" alt=""></div>
		<div class="module3-rt">
			<!-- <img src="/img/filteration/helix/module-32.jpg" alt=""> -->
			<p class="azud-subname">AZUD DLP Technology</p>
			<p>Low Pressure Backflush<br><span style="font-size: 12px;">低压反洗技术</span></p>
			<div class="table">
				<div class="row row1">
					<span></span>
					<span>AZUD HELIX AUTOMATIC</span>
					<span>AZUD HELIX AUTOMATIC DLP</span>
				</div>
				<div class="row">
					<span>工作压力</span>
					<span>1.5-10bar<br>21/145psi</span>
					<span>1.2/6bar<br>17/87psi</span>
				</div>
				<div class="row">
					<span>最小反洗压力</span>
					<span>2.8bar<br> 41psi</span>
					<span>1.5bar<br> 21psi</span>
				</div>
			</div>
			<p>AZUD针对水压较低或耗能较高等工况研发了全新的DLP滤芯，<br> 经过特别设计的过滤结构反洗最小水压仅需1.5bar(21psi)<br>DLP滤芯兼容HELIX AUTOMATIC全系列产品</p>
		</div>
		<span class="clear"></span>
	</div>
	<div class="module-detail module4">
		<!-- <div class="module4-hd"><img src="/img/filteration/helix/module-43.jpg" alt=""></div> -->
		<p class="azud-subname">AZUD Air-assistance Technology</p>
		<div class="module4-bd">
			<img src="/img/filteration/helix/module-41.jpg" alt="">
			<h6>·AZDU AA（air-assistance）气源辅助清洗系统</h6>
			<p>AA系统应用于对反洗耗水量有严格要求的工况，相比标准产品，AA系统能够降低80%的反洗用水。<br>在AA系统中，每个滤头都配备一个辅助阀，连接至同一根主管。其中一个滤头壳体内不安装滤芯，它充当小型蓄水筒的功能，提供过滤器反洗用水。<br>外部高压气源与蓄水桶内的水流混合后被推进过滤器进行清洗。<br>AA系统最小反洗压力仅需1.2bar/17.5psi<br>外部气源压力：根据实际工况调整</p>
		</div>
		<span class="clear"></span>
	</div>
	<div class="module-detail module5">
		<div class="module5-hd">
			<!-- <div class="sub"><img src="/img/filteration/helix/module-51.jpg" alt=""></div> -->
			<p class="azud-subname">AZUD HP System</p>
			<img class="pic pic1" src="/img/filteration/helix/module-52.jpg" alt="">
			<h6>·HP(high-pressure)系统</h6>
			<p>管道、壳体、盖口都为金属材质，控制系统中增加了一个双触点压差计，当系统在安全工作压力之外进行工作时，给予系统额外的保护。HP系统最高工作压力可达16bar。特别地，在HP系统中滤芯不包含HELIX离心盘管道采用钢材料(HDPE管道无法承受高压)；所有连接均为法兰连接。</p>
		</div>
		<div class="module5-bd">
			<!-- <div class="sub"><img src="/img/filteration/helix/module-53.jpg" alt=""></div> -->
			<p class="azud-subname">AZUD SW System</p>
			<img class="pic" src="/img/filteration/helix/module-54.jpg" alt="">
			<h6>·SW（sea water）系统</h6>
			<p>海水是含盐浓度很高的天然电解质溶液，能够对设备管道产生很强的腐蚀。同时海水中含有多种微生物，他们的生命活动会改变材质-海水界面的状态和性质，加剧海水的腐蚀。AZUD SW系统针对海水等高腐蚀性水体对过滤设备及控制器都做了相对应的改进。</p>
		</div>
		<span class="clear"></span>
	</div>
	<div class="module-detail module6">
		<div class="module6-hd clearfix">
			<div class="lf"><img src="/img/filteration/helix/module-61.jpg" alt=""></div>
			<div class="rt">
				<!-- <img src="/img/filteration/helix/module6-1.jpg" alt=""> -->
				<p class="azud-subname">AZUD FBC Controller</p>
				<p class="excerpt">阿速德FBC控制器将仪表检测、冲洗循环的控制与激活三项功能整合进过滤系统中， 实现过滤器的全自动操作。</p>
				<h>·全自动过滤系统 </h>
				<p>·控制器发送信号到过滤设备，激活反洗循环，根据设备安装时设定的工作参数   决定何时反洗，如何反洗。</p>
			</div>
		</div>
		<div class="module6-bd">
			<div class="table">
				<div class="row">
					<div class="cell">
						<div class="pic"><img src="/img/filteration/helix/module-62.jpg"></div>
						<div class="intro">
							<p><strong>·电子控制系统：程序控制</strong><br>·控制所有的检测与激活功能；<br> ·置于电箱内，防护等级：IP55。</p>
							
						</div>
					</div>
					<div class="cell">
						<div class="pic"><img src="/img/filteration/helix/module-63.jpg"></div>
						<div class="intro">
							<p><strong>·检测系统：压差计</strong> <br>·安装在指定位置，可直接读取设备中的压差；<br> ·液压微管连接； <br>·调节范围：0-1bar，设备有自动开关，当设备中压力等于或大于设定的压力时，开关就会关闭;<br>·调节简便</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="cell">
						<div class="pic"><img src="/img/filteration/helix/module-64.jpg"></div>
						<div class="intro">
							<p><strong>·激活系统：24V NC 3向电磁阀	</strong><br> ·将来自控制程序的电子信号转化为液压信号，<br>   三向电磁液压阀通过改变叠片组进水方向实现过滤或反洗的模式的切换</p>
						</div>
					</div>
					<div class="cell">
						<div class="pic"><img src="/img/filteration/helix/module-65.jpg"></div>
						<div class="intro">
							<p><strong>·微管</strong><br> ·每个电磁阀的液压信号通过液压微管直接到达   相应的3向阀门；<br> ·所有信号都有微管与其它辅助元件连接/传送，控制单元控制电力系统或水力系统，实现全自动化操作。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="control">
				<div class="con">
					<div class="pic"><img src="/img/filteration/helix/module-66.jpg"></div>
					<div class="depict">
						<h>FBC海水型控制器</h>
						<p>针对海水高腐蚀性的特点，海水型控制器<br> 在普通过滤器基础上做了特别的改进。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="module6-ft">
			<div class="row">
				<div class="cell"><img src="/img/filteration/helix/module-67.jpg">
				<p>带有膜分离器的压力表 </p></div>
				<div class="cell"><img src="/img/filteration/helix/module-68.jpg">
				<p>空气减压器</p></div>
				<div class="cell"><img src="/img/filteration/helix/module-69.jpg">
				<p>热性塑料材质的电磁阀</p></div>
				<div class="cell"><img src="/img/filteration/helix/module-60.png">
				<p> 聚丙烯材质的托盘</p></div>
			</div>
		</div>
		<span class="clear"></span>
	</div>
</div>