<div class="com-full-banner swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide slide-1">
			<div class="intro">
				<h2>过滤系统</h2>
				<p>市政 电力 化工 钢铁 农业</p>
				<a href="/filteration/luxon">了解更多</a>
			</div>
		</div>
		<div class="swiper-slide slide-2">
			<div class="intro">
				<h2>水处理系统</h2>
				<p>饮用水 回用水 脱盐水</p>
				<a href="/watertech">了解更多</a>
			</div>
		</div>
		<div class="swiper-slide slide-3">
			<div class="intro">
				<h2>农业灌溉</h2>
				<p>滴灌 注肥 智能控制</p>
				<a href="/irrigation">了解更多</a>
			</div>
		</div>
		<div class="swiper-slide slide-4">
		<div class="knowmore">
			<p>5-500微米过滤精度</p>
			<a href="/filteration/helix">了解更多</a>
		</div>
		</div>
	</div>
	<div class="swiper-pagination"></div>

</div>