<div class="page-container">
<%= stylesheet_link_tag "pages/fiteration/detail",:media => "all" %>
	<div class="page-ft">
	<div class="wrapper">
		<div class="table">
			<figure class="cell cell-1"><img src="/img/fiteration/detail/detail-4.jpg"><figcaption>过滤阶段</figcaption></figure>
			<figure class="cell cell-1"><img src="/img/fiteration/detail/detail-5.jpg"><figcaption>反洗阶段</figcaption></figure>
			<figure class="cell cell-2"><img src="/img/fiteration/detail/detail-6.jpg"><figcaption>流向示意</figcaption></figure>
		</div>
		<p class="depict">过滤阶段：原水进入过滤器，经叠片组底部的涡轮导流盘切割，高速旋转产生离心效果，并将大部分杂质旋流至滤头顶部，其余杂质被拦截在叠片外，水流通过压紧的叠片，进入叠片组内部，实现深层过滤。</p>
		<p class="depict">过滤阶段：原水进入过滤器，经叠片组底部的涡轮导流盘切割，高速旋转产生离心效果，并将大部分杂质旋流至滤头顶部，其余杂质被拦截在叠片外，水流通过压紧的叠片，进入叠片组内部，实现深层过滤。
</p>
	</div>
	</div>
	<figure class="page-bd">
	<div class="wrapper">
		<img src="/img/fiteration/detail/detail-3.png">
		<figcaption>叠片过滤器零部件具有高度模块化的特征，除标准系列产品外，还可根据实际工况按需配置，提供高效的模块化解决方案。 
		</figcaption>
	</div>
	</figure>
	<div class="page-hd">
	<div class="wrapper">
		<img class="sub" src="/img/fiteration/detail/detail-title.jpg">
		<figure><img src="/img/fiteration/detail/detail-2.jpg"></figure>
	</div>
	</div>
	<%= javascript_include_tag "pages/fiteration/detail" %>
</div>