<div class="page-container">
<%= stylesheet_link_tag "pages/fiteration/detail",:media => "all" %>
	<div class="page-hd">
		<img class="sub" src="/img/fiteration/detail/detail-title.jpg">
		<figure><img src="/img/fiteration/detail/detail-2.jpg"></figure>
	</div>
	<figure class="page-bd">
		<img src="/img/fiteration/detail/detail-3.png">
		<figcaption>叠片过滤器零部件具有高度模块化的特征，除标准系列产品外，还可根据实际工况按需配置，提供高效的过滤方案。 
		</figcaption>
	</figure>
	<div class="page-ft">
		<div class="table">
			<figure class="cell cell-1"><img src="/img/fiteration/detail/detail-4.jpg"><figcaption>过滤阶段</figcaption></figure>
			<figure class="cell cell-1"><img src="/img/fiteration/detail/detail-5.jpg"><figcaption>反洗阶段</figcaption></figure>
			<figure class="cell cell-2"><img src="/img/fiteration/detail/detail-6.jpg"><figcaption>流向示意</figcaption></figure>
		</div>
		<p class="depict">过滤阶段：原水进入过滤器，通过叠片组底部的螺旋盘时高速旋转产生离心效果，水中较大颗粒杂质被甩离叠片。压紧的叠片间凹槽交叉在一起形成密布的过滤通道，水流通过叠片进入过滤器内部，实现深层过滤。</p>
		<p class="depict">反洗阶段：滤后水反向进入过滤器，通过过滤滤芯，叠片解压，截留在叠片上的杂质被冲洗甩出，最后通过排污管排出。当反洗结束时，水流方向再次改变，叠片重新被压紧，过滤器进行过滤。</p>
	</div>
<%= javascript_include_tag "pages/fiteration/detail" %>
</div>