<div class="page-container">
	<%= stylesheet_link_tag "pages/fiteration/helix" , :media => "all" %>
	<a href="/fiteration/helix/detail">
	<div class="banner imgcover">
		<img src="/img/fiteration/helix/banner.jpg">
		<span href="javascript:void(0);">过滤原理 >></span>
	</div>
	</a>
	<%= render partial: "/components/helix-module/index" %>
	<div class="product">
		<h2><img src="/img/fiteration/helix/pro-title.jpg"></h2>
		<div class="pros clearfix">
			<div class="pro clearfix">
				<div class="pic">
					<img src="/img/fiteration/helix/pro-1.jpg">
				</div>
				<div class="introduce">
					<h6>200/300系列</h6>
					<p class="excerpt">具有超强过滤能力的自清洗过滤器可以满足较高的水量与精细过滤的的工况要求</p>
					<P class="tech">
						过滤精度：5-500微米<br>
						接口尺寸：200-300mm<br>
						最大流量：500L/h /2200gpm<br>
						工作环境：60°C/140°F,10bar/145psi<br>
					</P>
					<a class=load href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>
			</div>
			<div class="pro">
				<div class="pic">
					<img src="/img/fiteration/helix/pro-2.jpg">
				</div>
				<div class="introduce">
					<h6>201</h6>
					<p class="excerpt">具有超强过滤能力的自清洗过滤器可以满足较高的水量与精细过滤的的工况要求</p>
					<P class="tech">
						过滤精度：5-500微米<br>
						接口尺寸：200-300mm<br>
						最大流量：500L/h /2200gpm<br>
						工作环境：60°C/140°F,10bar/145psi<br>
					</P>
					<a class=load href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>
			</div>
			<div class="pro">
				<div class="pic">
					<img src="/img/fiteration/helix/pro-3.jpg">
				</div>
				<div class="introduce">
					<h6>200/300系列</h6>
					<p class="excerpt">具有超强过滤能力的自清洗过滤器可以满足较高的水量与精细过滤的的工况要求</p>
					<P class="tech">
						过滤精度：5-500微米<br>
						接口尺寸：200-300mm<br>
						最大流量：500L/h /2200gpm<br>
						工作环境：60°C/140°F,10bar/145psi<br>
					</P>
					<a class=load href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>
			</div>
			<div class="pro">
				<div class="pic pic-4">
					<img src="/img/fiteration/helix/pro-4.jpg">
				</div>
				<div class="introduce">
					<h6>200/300系列</h6>
					<p class="excerpt">具有超强过滤能力的自清洗过滤器可以满足较高的水量与精细过滤的的工况要求</p>
					<P class="tech">
						过滤精度：5-500微米<br>
						接口尺寸：200-300mm<br>
						最大流量：500L/h /2200gpm<br>
						工作环境：60°C/140°F,10bar/145psi<br>
					</P>
					<a class=load href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>
			</div>
		</div>
	</div>
	<%= render partial: "components/helix-apply/index" %>
	<%= javascript_include_tag "pages/fiteration/helix"  %>
</div>