<div class="page-container">
<%= stylesheet_link_tag "pages/fiteration/semiauto" %>
	<img src="/img/fiteration/semiauto/banner.jpg" alt="">
	<p class="excerpt">AZUD 半自动/手动过滤器广泛应用于园林灌溉等流量较低的场所，其特殊的工程塑料材质可安全地承受含农药、肥料等腐蚀性化学物质的水体。<br>在AZUD半自动/手动过滤器的保护下，园林灌溉系统可得到更稳定、更长久的运行。</p>
	<div class="products">
		<img src="/img/fiteration/semiauto/pro-title.jpg" alt="">
		<p class="pros-title pros-title1">半自动过滤器</p>
		<div class="pros clearfix">
			<div class="pro mb0">
				<img class="pic" src="/img/fiteration/semiauto/pro-1.jpg" alt="">
				<div class="intro1">
					<h6>LCM</h6>
					<p>最大流量：180 m³/h <br>过滤精度：5-200微米</p>
					<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>	
			</div>
			<div class="pro mb0">
				<img class="pic" src="/img/fiteration/semiauto/pro-2.jpg" alt="">
				<div class="intro1">
					<h6>LM</h6>
					<p>最大流量：180 m³/h <br>过滤精度：5-200微米</p>
					<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>	
			</div>
		</div>
		<p class="pros-title">手动过滤器</p>
		<div class="pros clearfix">
			<div class="pro">
				<img class="pic" src="/img/fiteration/semiauto/pro-6.jpg" alt="">
				<div class="intro2">
					<h6>Spiral Clean（带压差显示的手摇式清洗过滤器）</h6>
					<p class="intro">最大流量：50 m³/h <br>过滤精度：</p>
					<div class="params clearfix ">
						<div class="pic"></div>
						<div class="params-rt">
							<p class="subtitle">滤网</p>
							<p class="param">
								<span class="icon green"></span><span>200微米</span>
								<span class="icon red"></span><span>130微米</span>
								<span class="icon yellow"></span><span>100微米</span>	
							</p>
						</div>
					</div>
					<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>	
			</div>
			<div class="pro">
				<img class="pic" src="/img/fiteration/semiauto/pro-4.jpg" alt="">
				<div class="intro2">
					<h6>Modular 100（小流量手动过滤器）</h6>
					<p>最大流量：25 m³/h <br>过滤精度：</p>
					<div class="params clearfix ">
						<div class="pic"></div>
						<div class="params-rt">
							<p class="subtitle">滤网</p>
							<p class="param param2">
								<span class="icon purple"></span><span class="text">530微米</span>
								<span class="icon green"></span><span class="text">200微米</span>
								<span class="icon red"></span><span class="text">130微米</span>
								<span class="icon yellow"></span><span class="text">100微米</span>	
							</p>
						</div>
					</div>
					<div class="params clearfix ">
						<div class="pic-2"></div>
						<div class="params-rt">
							<p class="subtitle">叠片</p>
							<p class="param">
								<span class="icon red"></span><span>130微米</span>
							</p>
						</div>
					</div>
					<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>	
			</div>
			<div class="pro">
				<img class="pic" src="/img/fiteration/semiauto/pro-5.jpg" alt="">
				<div class="intro2">
					<h6>Modular 300(模块化，可满足各种过滤需求的手动过滤器）</h6>
					<p>最大流量：100 m³/h <br>过滤精度:</p>
					<div class="params clearfix ">
						<div class="pic"></div>
						<div class="params-rt">
							<p class="subtitle">滤网</p>
							<p class="param">
								<span class="icon green"></span><span>200微米</span>
								<span class="icon red"></span><span>130微米</span>
								<span class="icon yellow"></span><span>100微米</span>	
							</p>
						</div>
					</div>
					<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>	
			</div>
			<div class="pro">
				<img class="pic" src="/img/fiteration/semiauto/pro-3.jpg" alt="">
				<div class="intro2">
					<h6>AGL（拥有较大过滤面积的低流量手动过滤器）</h6>
					<p>最大流量：50 m³/h <br>过滤精度：</p>
					<div class="params clearfix">
						<div class="pic"></div>
						<div class="params-rt">
							<p class="subtitle">滤网</p>
							<p class="param">
								<span class="icon green"></span><span>200微米</span>
								<span class="icon red"></span><span>130微米</span>
								<span class="icon yellow"></span><span>100微米</span>	
							</p>
						</div>
					</div>
					<div class="params clearfix ">
						<div class="pic-2"></div>
						<div class="params-rt">
							<p class="subtitle">叠片</p>
							<p class="param">
								<span class="icon green"></span><span>200微米</span>
								<span class="icon red"></span><span>130微米</span>
								<span class="icon yellow"></span><span>100微米</span>	
							</p>
						</div>
					</div>
					<a class="load" href="javascript:void(0);"><span class="iconfont icon-pdf"></span>产品手册下载</a>
				</div>	
			</div>
		</div>
	</div>
<%= javascript_include_tag "pages/fiteration/semiauto" %>
</div>