<div class="com-helix-apply">
	<h2><img src="/img/filteration/helix/apply-title.jpg"></h2>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			
			<div class="swiper-slide">
				<img src="/img/filteration/helix/apply-1.jpg">
				<p class="title">中国 化工</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/helix/apply-2.jpg">
				<p class="title">中国 市政</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/helix/apply-3.jpg">
				<p class="title">中国 农业灌溉</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/helix/apply-4.jpg">
				<p class="title">中国 电厂</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/helix/apply-5.jpg">
				<p class="title">中国 景观</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/helix/apply-6.jpg">
				<p class="title">中国 钢铁</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/helix/apply-7.jpg">
				<p class="title">以色列 农业灌溉</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/helix/apply-8.jpg">
				<p class="title">秘鲁 海水淡化</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/helix/apply-9.jpg">
				<p class="title">巴西 废水处理</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/helix/apply-10.jpg">
				<p class="title">德国 水产养殖</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/helix/apply-11.jpg">
				<p class="title">西班牙 塑料工厂</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/helix/apply-12.jpg">
				<p class="title">意大利 冶金</p>
			</div>
			
		</div>
		<div class="swiper-button-prev swiper-button-white"></div>
		<div class="swiper-button-next swiper-button-white"></div>
	</div>
</div>