<%render partial: "components/full-banner"%>
<div class="page-container">
	<div class="page-content">
		
	</div>
	<div class="full-pic">
		
	</div>
	<div class="page-content news">
		
	</div>
<%render partial: "components/partner"%>
</div>