<div class="page-container">
<%= stylesheet_link_tag "pages/homes/show", :media => "all" %>
<%= render partial: "components/full-banner/index"%>
	<div class="page-content product">
		<div class="content-hd">
			<!-- <span class="iconfont icon-water icon"></span> -->
			<h2>产品与服务</h2>
		</div>
		<ul class="content-bd clearfix">
			<li>
				<figure>
					<img src="/img/home/pro-1.jpg">
					<p>过滤系统</p>
				</figure>
				<p class="more"><a href="/filtration/helix">查看更多</a></p>
			</li>
			<li>
				<figure>
					<img src="/img/home/pro-2.jpg">
					<p>水处理系统</p>
				</figure>
				<p class="more"><a href="/watertech">查看更多</a></p>
			</li>
			<li>
				<figure>
					<img src="/img/home/pro-3.jpg">
					<p>农业灌溉</p>
				</figure>
				<p class="more"><a href="/irrigation">查看更多</a></p>
			</li>
		</ul>
	</div>
	<div class="full-pic">
		<div class="pic">
			<img src="/img/home/azud-banner.jpg">
		</div>	
		<div class="detail">
			<p>
				世界知名的过滤系统及水处理系统制造商。
			</p>
			<a href="/introduce">了解AZUD</a>
		</div>
	</div>
<%=render partial: "components/home-news/index" %>
<%#=render partial: "components/partner/index"%>
<%= javascript_include_tag "pages/homes/show" %>
</div>