<div class="com-home-news">
	<div class="page-content">
		<div class="content-hd">
			<span class="iconfont icon-water icon"></span><h2>新闻资讯</h2>
		</div>
		<div class="content-bd clearfix">
			<a href="javascript:void(0);">
				<p class="smart-date" data-originDate="Mar 06 2016"></p>
				<h2>新闻标题新闻标题</h2>
				<p class="excerpt"> 这里是文章内容的简介，并且只取两行放在这里，撑不下的用...代替</p>
			</a>
			<a href="javascript:void(0);">
				<p class="smart-date" data-originDate="Mar 06 2016"></p>
				<h2>新闻标题新闻标题</h2>
				<p class="excerpt"> 这里是文章内容的简介，并且只取两行放在这里，撑不下的用...代替这里是文章内容的简介，并且只取两行放在这里，撑不下的用...代替</p>
			</a>
			<a href="javascript:void(0);">
				<p class="smart-date" data-originDate="Mar 06 2016"></p>
				<h2>新闻标题新闻标题</h2>
				<p class="excerpt"> 这里是文章内容的简介，并且只取两行放在这里，撑不下的用...代替</p>
			</a>	
		</div>
	</div>
</div>