<div class="com-home-news">
	<div class="page-content">
		<div class="content-hd">
			<!-- <span class="iconfont icon-water icon"></span> -->
			<h2>新闻资讯</h2>
		</div>
		<div class="content-bd clearfix">
			<% @papers.each do |paper|%>
				<a href="/papers/<%= paper.id %>">
					<p class="smart-date" data-originDate="<%= paper.updated_at %>"></p>
					<h2><%= paper.title %></h2>
					<p class="excerpt"> <%= paper.subtitle %></p>
				</a>
			<% end %>
		</div>
	</div>
</div>