
<div class="page-container">
	<%#=render 'form' %>
	<%= stylesheet_link_tag "pages/contactus/index" %>
	<%= render partial: "/components/contactus-contact/index" %>
	<%= render partial: "/components/contactus-demand/index" %>
	<%#= render partial: "/components/contactus-join/index" %>
	<%= javascript_include_tag 'pages/contactus/index' %>
</div>