<div class="page-container">
<%=stylesheet_link_tag 'pages/introduce/index' %>
	<img src="/img/introduce/banner.jpg" alt="">
	<div class="introduce">
		<h2>AZUD 西班牙</h2>
		<p>阿速德公司是水资源过滤方面全球领先企业之一，为工业、农业和城建领域提供水质量最优化的解决方案。</p>
		<p>
			<strong>水文化</strong><br>
			稀缺资源的合理利用。
		</p>
	</div>
	<div class="divide">
		<img src="/img/introduce/divide.jpg" alt="">
	</div>
	<div class="introduce">
		<h2>AZUD 中国</h2>
		<p>阿速德公司是水资源过滤方面全球领先企业之一，为工业、农业和城建领域提供水质量最优化的解决方案。</p>
		<p>
			<strong>水文化</strong><br>
			稀缺资源的合理利用。
		</p>

	</div>
<%=javascript_include_tag 'pages/introduce/index' %>
</div>