<div class="page-container">
<%=stylesheet_link_tag 'pages/introduce/index' %>
	<img src="/img/introduce/banner.jpg" alt="">
	<div class="introduce">
		<h2>西班牙 AZUD (阿速德）</h2>
		<p>
			SISTEMA AZUD，S.A.，成立于1989年西班牙穆尔西亚，现有过滤系统，水处理系统，农业灌溉三大业务。西班牙AZUD（阿速德）是水体过滤行业的世界一流品牌，在工业、市政及农业领域有着丰富的应用。在近三十年的时间里，AZUD（阿速德）凭借先进的过滤技术，可靠的产品质量，完善的的售前售后服务，与我们的合作伙伴一起面对全球日益严峻的水资源挑战。</p> 
		<p>
			我们致力于将AZUD的水文化传播至世界各地，尤其是水资源匮乏的区域。在AZUD的帮助下，每一滴水都能够得到最大程度的循环利用，每一滴水都变得更为安全。
		</p>
	</div>
	<div class="divide">
		<img src="/img/introduce/divide.jpg" alt="">
	</div>
	<div class="introduce">
		<h2>AZUD 中国</h2>
		<p>
			AZUD（阿速德）自2005年进入中国市场以来，已经在大量的国家级重大项目中提供了水过滤解决方案。
		</p>

		<p>AZUD（阿速德）中国控股公司---宜兴新展环保科技有限公司，将从单一的自清洗过滤器设备商向过滤系统供应商转变，为客户提供更加全面高效的水过滤解决方案。</p> 

		<p>随着人们的环境意识的增加，环保标准的完善，AZUD（阿速德）期望与更多的合作伙伴一起为青山绿水的明天而奋斗。您的选择，您的信赖，将是我们最大的动力。 </p>

	</div>
<%=javascript_include_tag 'pages/introduce/index' %>
</div>