<div class="page-container">
	<%=stylesheet_link_tag 'pages/press/detail' %>
	<div class="title">
		<h1>诺基亚回归智能手机市场的前景几何？</h1>
		<span class="smart-time">2016-2-13  07:21</span>
	</div>
	<div class="rich-text">
		<p>IP和光传送骨干网络是运营商网最基本的网络基础设施，网络位置重要且结构复杂，如何进行IP和光传送网络的架构简化、提升网络效率是Telefonica的重要课题和战略方向，为此，Telefonica选用了华为基于SDN IP+光的协同方案进行联合创新及实践。双方合作历经方案原型测试验证到实验局验证、从实验局验证到承载现网真实流量这一新技术孵化的过程，也印证了SDN产业发展日渐成熟的过程。</p>

		<p>秘鲁Telefonica CTO Pedro Planas表示：“SDN是重构未来网络架构的使能器。基于SDN技术，我们可以快速开发、提供创新的业务，满足多变的客户需求、提升竞争力。此次试商用的成功，证明了华为在SDN领域的商用实力，我们期待在与华为接下来的合作中取得进一步的成功。”</p>
		<h6>补补课补课班 </h6>
		<p>华为基于SDN的IP+光协同解决方案，可实现跨层流量可视、跨层连接快速建立、业务驱动资源自动适配及跨层业务协同保护等功能，极大提升运营效率和业务部署敏捷度；同时，华为通过多层规划工具、GNEEC 1：1镜像环境验证等专业服务，帮助客户高效规划网络，有效保证了此次SDN网络的顺利开通。</p>

		<p>华为固定网络产品线总裁查钧表示：“我们十分荣幸为Telefonica提供SDN商用方案，支撑IP+光的高效协同和网络流量的优化调整，Telefonica与华为在SDN领域的长期合作，共同推进了SDN产业的快速发展。我们将持续完善、创新SDN方案，帮助客户取得商业成功。”</p>
	</div>
	<%= javascript_include_tag "pages/press/detail" %>
</div>