<div class="page-container">
	<%=stylesheet_link_tag 'pages/press/detail' %>
	<div class="container">
		<div class="title">
			<h1>诺基亚回归智能手机市场的前景几何？</h1>
			<span class="smart-time">2016-2-13  07:21</span>
		</div>
		<div class="rich-text">
			<%#= @paper.content.html_safe %>
			
			<h6>补补课补课班 </h6>
			<p>华为基于SDN的IP+光协同解决方案，可实现跨层流量可视、跨层连接快速建立、业务驱动资源自动适配及跨层业务协同保护等功能，极大提升运营效率和业务部署敏捷度；同时，华为通过多层规划工具、GNEEC 1：1镜像环境验证等专业服务，帮助客户高效规划网络，有效保证了此次SDN网络的顺利开通。</p>

		
		</div>
	</div>
	<div class="sub-nav clearfix">
		<a href=";">上一篇</a>
		<a href=";">下一篇</a>
		<a href="/press">返回列表</a>
	</div>
	<%= javascript_include_tag "pages/press/detail" %>
</div>