<div class="page-container">
	<%= stylesheet_link_tag "pages/press/index" %>
	<div class="banner"><img src="/img/press/banner.jpg" alt=""></div>
	<ul class="lists">
	<%10.times do |item|%>
		<li class="list">
			<a href="/press/detail" target="_self">
				<h4>春节回家，看看人工智能在铁路行业的应用</h4>
				<p class="text-overflow">在铁路工业，任何有助于使列车保持移动，避免操作延迟，增进用户体验的事，都是值得追求的。很多OEM厂商正在把大量 资源财富投入到在铁路工业，任何有助于使列车保持移动，避免操作延迟，增进用户体验的 事，都是值得追求的。很多OEM厂商正在把大量 资源财富投入到源财富投入到在铁路工业  ，任何有助于使列车保持移动，避免操作延迟，增进用户体验的事，都是值得追求的。很多OEM厂商正在把大量 资源财富投入</p>
				<span>2016-2-13</span>
			</a>
		</li>
	<%end%>
	</ul>
	<%= javascript_include_tag "pages/press/index" %>
</div>