<div class="com-page-footer">
	<div class="page-bd">
		<div class="logo"><img src="/img/logo-ft.png"></div>
		<ul class="ribbon clearfix" >
			<li><span>+电话:（+34）968 80 84 02</span></li>	
			<li><span>+传真:（+34）968 80 84 02</span></li>	
			<li><span>+邮箱:info@azud.com</span></li>	
			<li><span>Copyright@京ICP备10046444号</span></li>
		</ul>
	</div>
</div>