<div class="com-page-footer">
	<div class="page-bd">
		<div class="logo"><img src="/img/logo-ft.png"></div>
		<ul class="ribbon clearfix" >
			<li><span>电话: (+34)968 80 84 02</span></li>	
			<li><span>传真: (+34)968 80 84 02</span></li>	
			<li><span>邮箱:info@azud.com</span></li>	
			<li><span>地址：江苏省无锡市雄楚大道辉煌国际103</span></li>
			<li><span>Copyright @ AZUD 2015-2025 All rights reserved. 京ICP备10046444号</span></li>
		</ul>
		<div class="aenor"><img src="/img/aenor.png" alt=""></div>
	</div>
</div>