<div class="com-page-footer">
	<div class="page-bd">
		<div class="logo"><img src="/img/logo-ft.png"></div>
		<ul class="ribbon way clearfix" >
			<li><span>电话: 0510 – 80339600</span></li>	
			<li><span>传真: 0510 – 80339606</span></li>	
			<li><span>邮箱: azudchina@azud.com.cn</span></li>	
		</ul>
		<ul class="ribbon addr">	
			<li><span>地址：江苏省宜兴市环科园绿园路489号，中节能（宜兴）环保产业园3号
			</span></li>
		<li><span>Copyright © 宜兴新展 All rights reserved</span></li>
	<!-- 	<li><span> 京ICP备10046444号</span></li>
 -->		</ul>
		<!-- <div class="aenor"><img src="/img/aenor.png" alt=""></div> -->
	</div>
</div>