/**
 * =require components/common/index
 * =require_self
 */
.com-page-footer{
	width:100%;
	height:105px;
	display:inline-block;
	background-color: #044588;
	.page-bd{
		width:1110px;
		height:45px;
		margin: 30px auto;
		.logo{
			width:116px;
			height:45px;
			float: left;
			margin-right: 102px;
			img{
				width:100%;
				height:100%;
			}
		}
		.ribbon{
			display:inline-block;
			height:45px;
			line-height: 45px;
			li{
				float: left;
				&:nth-child(1){
					margin-right: 58px;
				}
				&:nth-child(2){
					margin-right: 62px;
				}
				&:nth-child(3){
					margin-right: 40px;
				}
			}
		}
	}

}