/**
 * =require components/common/index
 * =require_self
 */
.com-page-footer{
	width:100%;
	margin-top: -124px;
	background-color: #044588;
	.page-bd{
		width:1110px;
		margin: 0 auto;
		padding:17px 0;
		font-size: 14px;
		color:#e3f1ff;
		.logo{
			float: left;
			margin: 14px 100px 14px 0;
			width: 225px;
			height: 68px;
			img{
				width:100%;
				height:100%;
			}
		}
		.ribbon{
			display:inline-block;
			line-height: 45px;
			li{
				line-height: 30px;
			}
			&.way{
					width: 270px;
			}
			&.addr{
					width: 480px;
			}
		}
		.aenor{
			float: right;
			margin:4px 0;
		}
	}

}