<div class="com-luxon-module">
	<img class="title" src="/img/filteration/luxon/module-title.jpg">
	<ul class="lists clearfix">
		<li>
			<div class="pic">
				<img src="/img/filteration/luxon/module-1.jpg">
			</div>
			<p class="name">过滤部件</p>
		</li>
		<li>
			<div class="pic">
				<img src="/img/filteration/luxon/module-2.jpg">
			</div>
			<p class="name">清洗部件</p>
		</li>
<!-- 		<li>
			<div class="pic">
				<img src="/img/filteration/luxon/module-3.jpg">
			</div>
			<p class="name">DLP低压技术</p>
		</li>
 -->	</ul>
	<div class="module-detail module1">
		<div class="module1-hd clearfix">
			<div class="pic"><img src="/img/filteration/luxon/module-11.jpg"></div>
			<div class="intro">
				<img src="/img/filteration/luxon/module-12.jpg" alt="">
				<p>AZUD滤网拥有一流的制造工艺，更拥有严苛的质量标准。 在各种复杂的工况中，AZUD滤网久经考验，以其卓越的表现赢得了用户的信任！</p>
			</div>
		</div>
		<div class="module1-bd">
			<figure class="con con-lf">
				<img src="/img/filteration/luxon/module-13.jpg">
				<figcaption>
					<h6>钻孔网</h6>
					<p>
       适用于过滤精度要求不高的场合<br>
       过滤精度：800 – 3500微米
					</p>
				</figcaption>
			</figure>
			<figure class="con">
				<img src="/img/filteration/luxon/module-14.jpg">
				<figcaption>
					<h6>编织网</h6>
					<p>
						 适用于高精度过滤场合<br>
						过滤精度：10 – 1000微米
					</p>
				</figcaption>
			</figure>
			<figure class="con con-rt">
				<img src="/img/filteration/luxon/module-15.jpg">
				<figcaption>
					<h6>楔形网</h6>
					<p>
						 适用于过滤精度要求不高的场合<br>
						过滤精度：200 - 800微米
					</p>
				</figcaption>
			</figure>
		</div>
	</div>
	<div class="module-detail module2">
		<div class="module2-hd">
			<div class="pic"><img src="/img/filteration/luxon/module-21.jpg"></div>
		</div>
		<div class="module2-bd">
			<figure class="con con-lf">
				<img src="/img/filteration/luxon/module-22.jpg">
				<figcaption>
					AZUD先进的吸吮扫描技术，仅需不到过滤流量1%的耗水即可完成整个清洗过程。反洗时，扫描吸嘴以合适的角度紧贴滤网,吸嘴前端以合适的角度紧贴滤网，吸嘴前端产生负压，快速高效地俘获被拦截在滤网上的杂质。同时吸嘴在水力或电力驱动下旋转,逐点扫描滤网，不留清洗盲区。 
				</figcaption>
			</figure>
			<figure class="con">
				<img src="/img/filteration/luxon/module-23.jpg">
				<figcaption>
					AZUD针对水质较差的工况特别开发了刮擦清洗技术，<br> 刮擦清洗针对较大颗粒杂质清洗效果更好，且无需使用滤后水清洗。    
				</figcaption>
			</figure>
		</div>
	</div>
	<div class="module-detail module3">
		<div class="module3-hd clearfix">
			<div class="lf"><img src="/img/filteration/helix/module-61.jpg" alt=""></div>
			<div class="rt">
				<img src="/img/filteration/helix/module6-1.jpg" alt="">
				<p class="excerpt">阿速德FBC控制器将仪表检测、冲洗循环的控制与激活三项功能整合进过滤系统中， 实现过滤器的全自动操作。</p>
				<h>·全自动过滤系统 </h>
				<p>·控制器发送信号到过滤设备，激活反洗循环，根据设备安装时设定的工作参数   决定何时反洗，如何反洗。</p>
			</div>
		</div>
		<div class="module3-bd">
			<div class="table">
				<div class="row">
					<div class="cell">
						<div class="pic"><img src="/img/filteration/helix/module-62.jpg"></div>
						<div class="intro">
							<p><strong>·电子控制系统：程序控制</strong><br>·控制所有的检测与激活功能；<br> ·置于电箱内，防护等级：IP55。</p>
							
						</div>
					</div>
					<div class="cell">
						<div class="pic"><img src="/img/filteration/helix/module-63.jpg"></div>
						<div class="intro">
							<p><strong>·检测系统：压差计</strong> <br>·安装在指定位置，可直接读取设备中的压差；<br> ·液压微管连接； <br>·调节范围：0-1bar，设备有自动开关，当设备中压力等于或大于设定的压力时，开关就会关闭;<br>·调节简便</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="cell">
						<div class="pic"><img src="/img/filteration/helix/module-64.jpg"></div>
						<div class="intro">
							<p><strong>·激活系统：24V NC 3向电磁阀	</strong><br> ·将来自控制程序的电子信号转化为液压信号，<br>   三向电磁液压阀通过改变叠片组进水方向实现过滤或反洗的模式的切换</p>
						</div>
					</div>
					<div class="cell">
						<div class="pic"><img src="/img/filteration/helix/module-65.jpg"></div>
						<div class="intro">
							<p><strong>·微管</strong><br> ·每个电磁阀的液压信号通过液压微管直接到达   相应的3向阀门；<br> ·所有信号都有微管与其它辅助元件连接/传送，控制单元控制电力系统或水力系统，实现全自动化操作。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="control">
				<div class="con">
					<div class="pic"><img src="/img/filteration/helix/module-66.jpg"></div>
					<div class="depict">
						<h>FBC海水型控制器</h>
						<p>针对海水高腐蚀性的特点，海水型控制器<br> 在普通过滤器基础上做了特别的改进。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="module3-ft">
			<div class="row">
				<div class="cell"><img src="/img/filteration/helix/module-67.jpg">
				<p>带有膜分离器的压力表 </p></div>
				<div class="cell"><img src="/img/filteration/helix/module-68.jpg">
				<p>空气减压器</p></div>
				<div class="cell"><img src="/img/filteration/helix/module-69.jpg">
				<p>热性塑料材质的电磁阀</p></div>
				<div class="cell"><img src="/img/filteration/helix/module-60.png">
				<p> 聚丙烯材质的托盘</p></div>
			</div>
		</div>
	</div>
</div>