<div class="com-contactus-contact">
	<div class="title">
		<h2>联系方式</h2>
	</div>
	<div class="content clearfix">
		<div class="pic"><img src="/img/contactus/addr.jpg" alt=""></div>
		<ul class="ways">
			<li>
				<p class="item"><span class="iconfont icon-tel"></span>电话</p>
				<p>(+34)968 80 84 02</p>
			</li>
			<li>
				<p class="item"><span class="iconfont icon-mail"></span>邮箱</p>
				<p>info @ azud.com</p>
			</li>
			<li>
				<p class="item"><span class="iconfont icon-fax"></span>传真</p>
				<p>(+34)968 80 84 02</p>
			</li>
			<li>
				<p class="item"><span class="iconfont icon-icoaddress"></span>地址</p>
				<p>江苏省无锡市雄楚大道辉煌国际103</p>
			</li>
		</ul>
	</div>
</div>