<div class="com-watertech-module">
	<p class="module-title"><img src="/img/watertech/module-title.jpg" alt=""></p>
	<div class="modules clearfix">
		<figure class="module">
			<div class="wrapper">
				<div class="spinner">
					<img src="/img/watertech/module-1.jpg" alt="">
				</div>
			</div>
			<figcaption class="excerpt">
				<h6>叠片过滤</h6>
				<p>去除水体中的固体悬浮物，过滤精度5到400微米</p>
			</figcaption>
		</figure>
		<figure class="module">
			<div class="wrapper">
				<div class="spinner">
					<img src="/img/watertech/module-2.jpg" alt="">
				</div>
			</div>
			<figcaption class="excerpt">
				<h6>砂滤</h6>
				<p>降低水体浊度及固体悬浮物浓度</p>
			</figcaption>
		</figure>
		<figure class="module">
			<div class="wrapper">
				<div class="spinner">
					<img src="/img/watertech/module-3.jpg" alt="">
				</div>
			</div>
			<figcaption class="excerpt">
				<h6>超滤</h6>
				<p>去除0.1微米以上的固体悬浮物</p>
			</figcaption>
		</figure>
		<figure class="module">
			<div class="wrapper">
				<div class="spinner">
					<img src="/img/watertech/module-4.jpg" alt="">
				</div>
			</div>
			<figcaption class="excerpt">
				<h6>反渗透组件</h6>
				<p>去除99%的溶解性固体</p>
			</figcaption>
		</figure>
		<figure class="module">
			<div class="wrapper">
				<div class="spinner">
					<img src="/img/watertech/module-5.jpg" alt="">
				</div>
			</div>
			<figcaption class="excerpt">
				<h6>臭氧发生器</h6>
				<p>消灭水中细菌病毒等微生物， 提高水的感官特征</p>
			</figcaption>
		</figure>
		<figure class="module">
			<div class="wrapper">
				<div class="spinner">
					<img src="/img/watertech/module-6.jpg" alt="">
				</div>
			</div>
			<figcaption class="excerpt">
				<h6>紫外线</h6>
				<p>消灭水中病原体等微生物</p>
			</figcaption>
		</figure>
		<figure class="module">
			<div class="wrapper">
				<div class="spinner">
					<img src="/img/watertech/module-7.jpg" alt="">
				</div>
			</div>
			<figcaption class="excerpt">
				<h6>加药设备</h6>
				<p>根据不同的工艺在水处理系统中投放不同的 药剂(调节PH, 絮凝混凝，杀菌，阻垢) 对水体进行综合的物化处理</p>
			</figcaption>
		</figure>

	</div>
</div>