<div class="com-watertech-detail">
	<p class="detail-title"><img src="/img/watertech/pro-title.jpg" alt=""></p>
	<div class="system">
		<div class="system-hd">
			<p class="system-title"><span>饮用水系统</span></p>
			<p class="system-depict">出水水质：依据WHO世界卫生组织或所在地区为饮用水制定的相关标准</p>
		</div>
		<div class="system-bd clearfix">
			<figure class="pro">
				<div class="pic">
					<div class="wrapper"><img src="/img/watertech/pro-1.jpg" alt=""></div>
				</div>
				<figcaption class="intro">
					<h6>DW DU</h6>
					<span>基于超滤膜过滤的饮用水系统</span>
				</figcaption>
			</figure>
			<figure class="pro">
				<div class="pic">
					<div class="wrapper"><img src="/img/watertech/pro-2.jpg" alt=""></div>
				</div>
				<figcaption class="intro">
					<h6>DW RO</h6>
					<span>基于反渗透膜过滤的饮用水系统</span>
				</figcaption>
			</figure>
			<figure class="pro">
				<div class="pic">
					<div class="wrapper"><img src="/img/watertech/pro-3.jpg" alt=""></div>
				</div>
				<figcaption class="intro">
					<h6>DW S</h6>
					<span>基于多介质过滤的饮用水系统</span>
				</figcaption>
			</figure>
			<figure class="pro">
				<div class="pic">
					<div class="wrapper"><img src="/img/watertech/pro-4.jpg" alt=""></div>
				</div>
				<figcaption class="intro">
					<h6>DWE</h6>
					<span>移动式水处理系统</span>
				</figcaption>
			</figure>
		</div>
	</div>
	<div class="system">
		<div class="system-hd">
			<p class="system-title"><span>循环水处理系统</span></p>
			<p class="system-depict">出水水质：满足各种工况中客户对于水体重复利用的标准</p>
		</div>
		<div class="system-bd clearfix">
			<figure class="pro">
				<div class="pic">
					<div class="wrapper"><img src="/img/watertech/pro-5.jpg" alt=""></div>
				</div>
				<figcaption class="intro">
					<h6>GW</h6>
					<span>基于超滤膜过滤的中水回用系统</span>
				</figcaption>
			</figure>
			<figure class="pro">
				<div class="pic">
					<div class="wrapper"><img src="/img/watertech/pro-6.jpg" alt=""></div>
				</div>
				<figcaption class="intro">
					<h6>RW SZ</h6>
					<span>基于沙滤与臭氧杀毒的循环水系统</span>
				</figcaption>
			</figure>
			<figure class="pro">
				<div class="pic">
					<div class="wrapper"><img src="/img/watertech/pro-7.jpg" alt=""></div>
				</div>
				<figcaption class="intro">
					<h6>RW DV</h6>
					<span>基于叠片过滤与紫外线杀毒的循环水系统</span>
				</figcaption>
			</figure>
			<figure class="pro">
				<div class="pic">
					<div class="wrapper"><img src="/img/watertech/pro-8.jpg" alt=""></div>
				</div>
				<figcaption class="intro">
					<h6>RW CD</h6>
					<span>基于澄清器与叠片过滤的循环水系统</span>
				</figcaption>
			</figure>
		</div>
	</div>
	<div class="system">
		<div class="system-hd">
			<p class="system-title"><span>脱盐系统</span></p>
		</div>
		<div class="system-bd clearfix">
			<figure class="pro">
				<div class="pic">
					<div class="wrapper"><img src="/img/watertech/pro-9.jpg" alt=""></div>
				</div>
				<figcaption class="intro">
					<h6>OSM</h6>
					<span>基于反渗透膜的脱盐系统</span>
				</figcaption>
			</figure>
		</div>
	</div>
	<div class="system">
		<div class="system-hd">
			<p class="system-title"><span>废水处理系统</span></p>
		</div>
		<div class="system-bd clearfix">
			<figure class="pro">
				<div class="pic">
					<div class="wrapper"><img src="/img/watertech/pro-10.jpg" alt=""></div>
				</div>
				<figcaption class="intro">
					<h6>WW</h6>
					<span>基于MBBR生物技术的废水处理系统</span>
				</figcaption>
			</figure>
		</div>
	</div>
</div>