<div class="com-luxon-apply">
	<h2><img src="/img/filteration/luxon/apply-title.jpg"></h2>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="/img/filteration/luxon/apply-1.jpg">
				<p class="title">中国 市政</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/luxon/apply-2.jpg">
				<p class="title">中国 市政</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/luxon/apply-3.jpg">
				<p class="title">中国 电子</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/luxon/apply-4.jpg">
				<p class="title">中国 化工</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/luxon/apply-5.jpg">
				<p class="title">中国 电厂</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/luxon/apply-6.jpg">
				<p class="title">中国 电厂</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/luxon/apply-7.jpg">
				<p class="title">中国 钢铁</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/luxon/apply-8.jpg">
				<p class="title">中国 化工</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/luxon/apply-9.jpg">
				<p class="title">澳大利亚 矿业</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/luxon/apply-10.jpg">
				<p class="title">以色列 农业灌溉</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/luxon/apply-11.jpg">
				<p class="title">智利 矿业</p>
			</div>
			<div class="swiper-slide">
				<img src="/img/filteration/luxon/apply-12.jpg">
				<p class="title">南非 电子</p>
			</div>
			
		</div>
		<div class="swiper-button-prev swiper-button-white"></div>
		<div class="swiper-button-next swiper-button-white"></div>
	</div>
</div>