<div class="com-luxon-apply">
	<h2><img src="/img/fiteration/luxon/apply-title.jpg"></h2>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<% 10.times do |item| %>
			<div class="swiper-slide">
				<img src="/img/fiteration/luxon/apply-1.jpg">
				<p class="title">海水过滤</p>
			</div>
			<% end %>
		</div>
		<div class="swiper-button-prev swiper-button-white"></div>
		<div class="swiper-button-next swiper-button-white"></div>
	</div>
</div>